

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @member.name %></h1>
    <p class="lead"><%= @member.website %></p>
  </div>
</div>
<h3>Website Headers</h3>
<div>
  <%= @member.website_headers %>
</div>